[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "perfectphyloR"]
	path = perfectphyloR
	url = https://github.com/cran/perfectphyloR
